@model Merge

@{
    ViewData["Title"] = "Default";
}

<h1>Welcome!</h1>
<h4>Your pickups for today.</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Address
            </th>
            <th>
                Zipcode
            </th>
            <th>
                Last Name
            </th>
            <th>
                Balance
            </th>
            <th>
                Pickup Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Charges_Owe)
                </td>
                <td>

                </td>
            
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="CustomerDetail" asp-route-id="@item.Id">Customer Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
}
    </tbody>
</table>
