@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Welcome</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Current Pickup Day
            </th>
            <th>
                Balance Due
            </th>
            <th>
                Additional Pickup
            </th>
            <th>
                Suspend pickup start
            </th>
            <th>
                Suspend pickup end
            </th>
            <th>
                Confirm Pickup
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Pickup_Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Charges_Owe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Extra_Pickup)
            </td>

            <td>
                @Html.DisplayFor(modelItem => modelItem.Start_Suspend_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.End_Suspend_Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => modelItem.Confirm_Pickup)

            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

            </td>
        </tr>
@*}*@
    </tbody>
</table>
