@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Html.DisplayFor(modelItem => modelItem.First_Name)!</h1>
@*<h4>Your Account Details</h4>*@
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Additional Pickup Information</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                Zipcode
            </th>
            <th>
                Regular Pickup Day
            </th>
            <th>
                Balance Due
            </th>
            <th>
                Check Box to Confirm Garbage Pickup
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model) {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Pickup_Day)
            </td>

            <td>
                @Html.DisplayFor(modelItem => modelItem.Charges_Owe)
            </td>
            <td>
                <input class="form-check-input" asp-for="Confirm_Pickup" />
                @*@Html.DisplayFor(modelItem => modelItem.Confirm_Pickup)*@
            </td>

            <td>
                @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>|*@
                @*<a asp-action="Details" asp-route-id="@Model.Id">Details</a> |*@

            </td>
        </tr>

        @*}*@
    </tbody>

</table>
<div class="form-group">
    <input type="submit" value="Click to Confirm Pickup" class="btn btn-primary" />
</div>
